.header {
    padding: 0 32px;
    display: flex;
    align-items: center;
    justify-content: end;
    background: var(--color-bg-dark);
    height: var(--header-height);
    top: 0;
    position: sticky;
    z-index: 50;
}

.userSection {
    display: flex;
    align-items: center;
}